<!doctype html>
<html>
    <head>

        <title>
            {%block title%}
            Pizzeria
            {%endblock%}
        </title>
        {%block styles%}
        <link rel="stylesheet" href="src/Pizzeria/css/styles.css"/>
        {%endblock%}
    </head>
    <body>
        <pre>TO DO:
*CSS verbeteren voor winkelmand
*CSS verbeteren voor errors
        </pre>
        <header>
        {%block header%}
            <div class="container">
                <!-- login form -->
                <div class="loginform">
                    {% if loggedin == false %}
                    <form class="login" action="usercontroller.php?action=login" method="POST">
                        <input name="email" type="email" value=" 
                            {% if emailadrescookie is not null %}{{emailadrescookie}}{% endif %}
                               " placeholder="emailadres"> 
                        <input name="password" type="password" placeholder="password"> 
                        <input name="login" type="submit" value="login"> 
                    </form>
                        {% if error is defined %}
                    <div class="error">
                                {% if error=='GeenEmailOpgegeven' %}
                        <p>U heeft geen email adres opgegeven</p>
                                {% elseif error=='GeenPasswordOpgegeven' %}
                        <p>U hebt geen paswoord opgegeven</p>
                                {% elseif error=='UserNietGevonden' %}
                        <p>Dit emailadres is niet geregistreerd</p>
                                {% elseif error=='GeenPasswordOpgegeven' %}
                        <p>U hebt geen paswoord opgegeven</p>
                                {% elseif error=='IncorrectPassword' %}
                        <p>U hebt een verkeerd paswoord opgegeven</p>
                                {% endif %}
                    </div>
                        {% endif%}

                    {% elseif ingelogd== true%}
                    <!-- logout button -->
                    {% if ingelogd!='admin' %}
                    <a href="usercontroller.php?action=loguit"><button>loguit</button></a>
                    {% endif %}
                    {% endif %}
                </div>
                <nav>
                    <a class="about" href="berichtcontroller.php?action=tooninfo"><button>About Us</button></a>
                    <a class="about" href="usercontroller.php?action=loguit"><button>Bestelmenu</button></a>
                    <a class="about" href="usercontroller.php?action=adminlogin"><button>Bestellingoverzicht</button></a>
                </nav>
        {%endblock%}
        </header>
        <div class=" container">
        {%block content%}
            BaseContent
        {%endblock%}
        </div>
        {%block scripts%}
        {%endblock%}
        <footer>
        {%block footer%}
            <div class= "container">Project tijdens de VDAB opleiding PHP ontwikkelaar.<br> Gemaakt door Mark Van Der Veken in 2014
                met PHP, CSS3, HTML5</div>
        {%endblock%}
        </footer>
    </body>
</html>
{# empty Twig template #}
