{# empty Twig template #}
<!doctype html>
<html>
    <head>
        <title>Heeft u een account?</title>
          <link rel="stylesheet" href="Src/Pizzeria/css/styles.css"/>
    </head>
    <body>
        <div class="container">
        <div>
        <a href="usercontroller.php?action=welaccount" ><button class="welaccount">Ik heb een account</button></a>
            <a  href="usercontroller.php?action=geenaccount"><button class="geenaccount">Ik heb geen account</button></a>
        </div>
           
    </div>
    </body>
</html>
