{% extends 'base.twig'%}
{%block title%}Heeft u een account?{% endblock %}
      {%block content %} <div>
    <a href="usercontroller.php?action=welaccount" ><button class="welaccount">Ik heb een account</button></a>
    <a  href="usercontroller.php?action=geenaccount"><button class="geenaccount">Ik heb geen account</button></a>
</div>
           {%endblock%}
